$bleuClair: #c0d8ea;
$bleuFonce:#62859d;
$bleuGris: #48545c;
$bleuFlash:#1f8fdb;

$rougePure: #d41c2c;
$rougeFonce: #b21c27;

$vertPure: #6bbf27;
$vertFonce: #1cb223;

$grisContour: #dddddd;
$grisMoyen: #969595;
$grisFonce: #4f4f4f;