@import "compass";
@import "compass/reset";
@import "colors";

@font-face {
    font-family: 'bebasregular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	background-image: url(../img/felt.png);
}

body{
	font: 18px/1.5 "Roboto";
	header {
		background-color: $bleuClair;
	}
	a{
		text-decoration: none;
		color:$rougePure;
		&:hover{
			color:$rougeFonce;
			text-decoration: underline;
		}
	}
}

nav{
	position: relative;
	width: 19em;
	background-color: $bleuClair;
	#menu:first-child:before {
  		content:url('../img/Data-48.png');
  		position: absolute;
  		top: 1.5em;
  		left: 1.25em;
	}
	#cache{
		display: none;
	}
	#logo{
		padding: 0.75em 0 0 5em;
	}
	ul.subMenu{
		position: absolute;
		li{
			padding: 0.75em 1.15em;
			width: 16.7em;
			text-align: center;
			background-color: $bleuClair;
			border-top: 1px solid $bleuFonce;
			&:hover{
				background-color: $bleuFonce;
				a{
					color:white;
					padding: 15px auto;
				}
			}
		}
		a{
			text-decoration: none;
			color: $rougePure;
		}
	}
}

/* Connexion/Accueil */

.login{
	width: 20em;
	margin: 5em auto;
	padding: 1.5em;
	background-color: white;
	text-align: center;
	@include single-box-shadow;
	@include border-radius(0.5em);
	h1{
		text-transform: uppercase;
		font-family: "Bebas";
		font-size: 1.86em;
		color: $bleuFonce;
	}
	.legend{
		font-size: 14.45px;
		color: $rougePure;
		padding: 0.5em 0 1em 0;
	}
	h2{
		color: $bleuFonce;
		font-size: 22px;
	}
	label,input{
		display: block;
	}
	label{
		padding-top: 0.75em;
	}
	input{
		width:20em;
		margin: 0.5em auto;
		border: 1px solid $grisContour;
		padding: 1em 0.5em;
		@include border-radius(0.5em);
	}
}

.submit{
		background-color: $rougePure;
		color: white;
		cursor: pointer;
		padding: 1em 0;
		position: relative;
		top:1em;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		&:hover{
			background-color: $rougeFonce;
		}
}

/* Section principale */

section.main{
	padding: 1em 4em;
	width: 40em;
	margin: 0 auto;
	min-height: 40em;
	h2{
		font-size: 22px;
		color: $bleuFonce;
	}
	h3{
		font-size: 20px;
		color: $bleuGris;
		padding: 0.75em 0 0.25em 0;
	}

/* VUES SHOW */

	label{
		display: block;
		color: $grisFonce;
		padding-top: 0.4em;
		span{
			color: black;
		}
	}
	.photoProfilUser{
		float: left;
		padding: 0 1em 1em 0;
	}
	.text{
		padding: 0.5em 0.75em;
		font-size: 16px;
		@include border-radius(0.5em);
		border: 1px solid $grisMoyen;
		width: 16em;
		margin-bottom: 0.5em;
	}
	select{
		@extend .text;
	}
	#inputDescription{
		@extend .text;
		width: 30em;
	}
	.validation{
		display: block;
		background-color: $rougePure;
		color: white;
		padding: 1em 1.5em;
		text-transform: uppercase;
		border: none;
		cursor: pointer;
		@include border-radius(0.5em);
		margin-top: 1em;
		&:hover{
			background-color: $rougeFonce;
		}
	}
	.error{
		color: $rougeFonce;
		padding-left: 1em;
	}
	.creation{
		@extend .validation;
		background-color: $vertPure;
		margin-bottom: 1em;
		&:hover{
			background-color: $vertFonce;
			text-decoration: none;
		}
	}
	.create{
		text-decoration: none;
	}
	.modify,.delete{
		float: left;
		margin-right: 1em;
	}
	.modify{
		color: $bleuFlash;
		&:hover{
			color:$bleuFonce;
		} 	
	}
	.delete{
		@extend .validation;
		background-color: $rougeFonce;
		position: relative;
		top: -1.10em;
		font-size: 14px;
		padding: 0.5em 0.75em;
		&:hover{
			background-color: $rougePure;
		}	
	}
	.change{
		margin-top: 0.5em;
	}
}

/* Footer */

footer{
	background-color: $bleuClair;
	position: relative;
	img{
		float: left;
	}
	.infosFooter{
		color: $bleuFonce;
		padding: 1.5em 0;
		width: 20em;
		margin: 0 auto;
	}
	#logoFooter{
		padding-right: 1em;
	}
	.arrow-up{
		position: absolute;
		top: 2em;
		left: 6em;
		background-color: $rougePure;
		padding: 0.7em 0.7em;
		@include border-radius(2em);
	}
}


footer:after,.informationsStudent:after,.change:after{
	content:"";
	clear:both;
	display: block;
}