@import "compass";
@import "compass/reset";
@import "colors";

@font-face {
    font-family: 'bebasregular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	background-image: url(../img/felt.png);
}

body{
	background-image: url(../img/felt.png);
	header {
		background-color: $bleuClair;
		padding-bottom: 0.5em;
	}
}

nav{
	position: relative;
	width: 19em;
	background-color: $bleuClair;
	#menu:first-child:before {
  		content:url('../img/Data-48.png');
  		position: absolute;
  		top: 1.5em;
  		left: 1.25em;
	}
	#cache{
		display: none;
	}
	#logo{
		padding: 0.75em 0 0 5em;
	}
	ul.subMenu{
		position: absolute;
		z-index: 1;
		top: 7.7em;
		li{
			padding: 0.75em 1.15em;
			width: 16.7em;
			text-align: center;
			background-color: $bleuClair;
			border-top: 1px solid $bleuFonce;
			&:hover{
				background-color: $bleuFonce;
				a{
					color:white;
					padding: 15px auto;
				}
			}
		}
		a{
			text-decoration: none;
			color: $rougePure;
		}
	}
}

/* Connexion/Accueil */

.login{
	width: 30em;
	margin: 5em auto;
	padding: 1.5em;
	text-align: center;
	@include single-box-shadow;
	@include border-radius(0.5em);
	background-color: white;
	h1{
		text-transform: uppercase;
		font-family: "Bebas";
		font-size: 1.86em;
		color: $bleuFonce;
	}
	.legend{
		font-size: 14.45px;
		color: $rougePure;
		padding: 0.5em 0 1em 0;
	}
	h2{
		color: $bleuFonce;
		font-size: 22px;
	}
}

/* Sections principales */

section.main{
	min-height: 50em;
	background-color: #fff;
	opacity: 0.9;
	padding-bottom: 3em;
	position: relative;
	top: -0em;
	.students{
		height: 25em;
		overflow: hidden;
		overflow-y: scroll;
		margin-top: 2em;
	}
	.informationsStudent{
		.content-informations{
			margin-left: 1.5em;
			float: left;
			.content{
				font-size: 17px;
				margin-bottom: 0.75em;
			}
		}
	}
	.leftBtn{
		float: left;
		margin:0.5em 1.5em 1em 0;
	}
	.btn{
		margin-bottom: 1em;
	}
	.table-sessions, .calendar{
		float: left;
	}
	.table-sessions{
		width: 70%;
		height: 25em;
		overflow: hidden;
		overflow-y: scroll;

	}
	.calendar table{
		//width: 15em;
		margin: 0em 0 0 1.5em;
		font-size: 18px;
		text-align: center;
		th, td{
			padding: 0.5em;
		}
		td strong{
			color: $rougePure;
		}
	}
	table{
		th{
			font-weight: bold;
		}
	}
}

/* Footer */

footer{
	background-color: $bleuClair;
	position: relative;
	img{
		float: left;
	}
	.infosFooter{
		color: $bleuFonce;
		padding: 1.5em 0;
		width: 20em;
		margin: 0 auto;
	}
	#logoFooter{
		padding-right: 1em;
	}
	.arrow-up{
		position: absolute;
		top: 1em;
		left: 6em;
		background-color: $rougePure;
		padding: 0.7em 0.7em;
		@include border-radius(2em);
	}
}


footer:after,.informationsStudent:after,.change:after, .changes:after, .table-sessions:after, .calendar:after{
	content:"";
	clear:both;
	display: block;
}